{% extends 'blog/common.html' %}


{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart!</h1>
      <p>I’m Akshay Naresh Raikar.<br> <br>
I am from Brahmin family, born and brought up in Thane, currently persueing my Masters in Web Engineering from TU Chemnitz!!<br>
<br>
I am a guy who loves to travel and  to explore various different locations  in India  and Germany. Right now I am only focusing on sharing my personal experience as well as providing feedback on recent updates on  India and Germany.<br>
<br>
My mission is to search for the best location in any corner of the country.<br><br>

For more about what I think about traveling, kindly go through my blog posts to discover awesome locations with in the country.<br><br>

Follow me on my travel journey from  country to country, city to city in search of amazing & outstanding location.</p>
      <p><a class="btn btn-primary btn-lg" href="/blog" role="button">Learn more »</a></p>
    </div>
  </div>



</main>





{% endblock %}
