{% extends 'blog/common.html' %}


{% block title%} Contact{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Contact Form</h1>
        <p>Kindly fill the contact form to get recent updates from JourneyWithDeva</p>p>
        <form method= "POST" action= "/addContact">
{% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlInput1">Full Name</label>
    <input type="name" class="form-control" id="exampleFormControlInput1" name="name" placeholder="name">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput2">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleFormControlInput2" placeholder="name@example.com">
  </div>
            <div class="form-col-auto my-1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
        </form>
    </div>
  </div>

</main>

{% endblock %}