{% extends 'blog/common.html' %}


{% block title%} Home{% endblock %}
{% block body %}



{% load static %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to JourneyWithDeva!</h1>
      <img src="{%static 'blog/home.jpeg'%}" width="100%" height="400px"><br> <br>
<p> Hello everyone, <br><br>
    Welcome to my journey of traveling.<br><br> If you are new to India or Germany or you are planning for a small trip to any one of these country
    and couldn't able to finalize which one is the best place to visit then you are at the right place.<br><br>
    Here you can find the top places to visit in India and Germany. To be more specific southern part
    and mid-west of India and south-west, east Germany and also some parts of northern Germany are also covered.<br><br>
    I have shared the history related to that place, genuine reason to visit and also some of my personal experience.<br><br>

Follow me on my travel journey from  country to country, city to city in search of amazing & outstanding location.</p>
      <p><a class="btn btn-primary btn-lg" href="/blog" role="button">Learn more »</a></p>
    </div>
  </div>



</main>





{% endblock %}
